/* main標籤內 */
/* 首頁輪播圖 */
main div.owl-carousel.mainpic{
  /* border: 1px solid red; */
  display: block;
  position: relative;
  text-align: center;
}
main div.owl-carousel.mainpic div.pic1{
  /* border:1px solid blue; */
  width: 1200px;
  margin: 0 auto;
  z-index: 0
}
main div.owl-carousel.mainpic div.pic2{
  /* border:1px solid blue; */
  width: 1200px;
  margin: 0 auto;
  z-index: 0
}
main div.owl-carousel.mainpic div.pic3{
  /* border:1px solid blue; */
  width: 1200px;
  margin: 0 auto;
  z-index: 0
}
@media (min-width: 992px) and (max-width: 1199px){
  main div.owl-carousel.mainpic div.pic1{
    /* border:1px solid blue; */
    width: 100%;
  }
  main div.owl-carousel.mainpic div.pic2{
    /* border:1px solid blue; */
    width: 100%;
  }
  main div.owl-carousel.mainpic div.pic3{
    /* border:1px solid blue; */
    width: 100%;
  }
}
@media (max-width: 991px){
  main div.owl-carousel.mainpic div.pic1{
    /* border:1px solid blue; */
    width: 100%;
  }
  main div.owl-carousel.mainpic div.pic2{
    /* border:1px solid blue; */
    width: 100%;
  }
  main div.owl-carousel.mainpic div.pic3{
    /* border:1px solid blue; */
    width: 100%;
  }
}
img{
  max-width: 100%;
  max-height: 100%;
}
main.main{
  position: relative;
}
/* 首頁內容 */
main.main div.content{
  /* border:1px solid red; */
  width:1350px;
  display: inline-block;
}
@media (min-width: 1400px) {
  main.main div.content{
    /* border:1px solid red; */
    width:80%;
    display: inline-block;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  main.main div.content{
    /* border:1px solid red; */
    width:80%;
    display: inline-block;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  main.main div.content{
    /* border:1px solid red; */
    width:900px;
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  main.main div.content{
    /* border:1px solid red; */
    width:700px;
    display: inline-block;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.content{
    /* border:1px solid red; */
    width:500px;
    display: inline-block;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.content{
    /* border:1px solid red; */
    width:400px;
    display: inline-block;
  }
}
main.main div.popular{
  /* border: 1px solid purple; */
  margin-top: 50px;
  text-align: center;
}
main.main div.popular div.populartitle{
  font-size: 30px;
  font-weight: bolder;
  color: #224FF3;
  /* border: 1px solid black; */
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.popular div.populartitle{
    font-size: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.popular div.populartitle{
    font-size: 26px;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.popular div.populartitle{
    font-size: 22px;
    margin-bottom: 10px;
  }
}
main.main div.popular div img.hot{
  /* border: 1px solid blue; */
  width: 20%;
  position: absolute;
  top:0;
}
main.main div.popular div.popularpro1{
  /* border: 1px solid green; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0 100px;
}
@media (min-width: 1200px) and (max-width: 1399px){
  main.main div.popular div.popularpro1{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0 100px;
    width: 110%;
    padding-right: 20%;
  }
}

main.main div.popular div.popularpro1 div.pic1{
  /* border: 1px solid orange; */
  width: 20%;
  height:100%;
  position: relative;
  bottom: 20px;
  opacity: .5;
  cursor: pointer;
}
main.main div.popular div.popularpro1 div.pic2{
  /* border: 1px solid orange; */
  width: 20%;
  height:100%;
  position: relative;
  bottom: 20px;
  opacity: .5;
  cursor: pointer;
}
main.main div.popular div.popularpro1 div.pic3{
  /* border: 1px solid orange; */
  width: 20%;
  height:100%;
  position: relative;
  bottom: 20px;
  opacity: .5;
  cursor: pointer;
}
@media (min-width: 1200px) and (max-width: 1399px){
  main.main div.popular div.popularpro1 div.pic1{
    /* border: 1px solid orange; */
    width: 30%;

  }
  main.main div.popular div.popularpro1 div.pic2{
    /* border: 1px solid orange; */
    width: 30%;


  }
  main.main div.popular div.popularpro1 div.pic3{
    /* border: 1px solid orange; */
    width: 30%;

  }
}
@media (min-width: 992px) and (max-width: 1199px){
  main.main div.popular div.popularpro1 div.pic1{
    /* border: 1px solid orange; */
    width: 25%;

  }
  main.main div.popular div.popularpro1 div.pic2{
    /* border: 1px solid orange; */
    width: 25%;


  }
  main.main div.popular div.popularpro1 div.pic3{
    /* border: 1px solid orange; */
    width: 25%;

  }
}
@media (min-width:768px) and (max-width: 991px){
  main.main div.popular div.popularpro1 div.pic1{
    /* border: 1px solid orange; */
    width: 30%;

  }
  main.main div.popular div.popularpro1 div.pic2{
    /* border: 1px solid orange; */
    width: 30%;


  }
  main.main div.popular div.popularpro1 div.pic3{
    /* border: 1px solid orange; */
    width: 30%;
  }
}

@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.popular div.popularpro1 div.pic1{
    /* border: 1px solid orange; */
    width: 35%;

  }
  main.main div.popular div.popularpro1 div.pic2{
    /* border: 1px solid orange; */
    width: 35%;


  }
  main.main div.popular div.popularpro1 div.pic3{
    /* border: 1px solid orange; */
    width: 35%;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.popular div.popularpro1 div.pic1{

    width: 80% ;

  }
  main.main div.popular div.popularpro1 div.pic2{

    width: 80% ;


  }
  main.main div.popular div.popularpro1 div.pic3{

    width: 80% ;

  }
}





main.main div.popular div.popularpro1 div.pic1.-on{
  /* border: 1px solid orange; */
  width: 25%;
  height:100%;
  position: relative;
  opacity: 1;
  cursor: pointer;
  transition: opacity 2s;
}
main.main div.popular div.popularpro1 div.pic2.-on{
  /* border: 1px solid orange; */
  width: 25%;
  height:100%;
  position: relative;
  opacity: 1;
  cursor: pointer;
  transition: opacity 2s;
}
main.main div.popular div.popularpro1 div.pic3.-on{
  /* border: 1px solid orange; */
  width: 25%;
  height:100%;
  position: relative;
  opacity: 1;
  cursor: pointer;
  transition: opacity 2s;
}
@media (min-width: 1200px) and (max-width: 1399px){
  main.main div.popular div.popularpro1 div.pic1.-on{
    /* border: 1px solid orange; */
    width: 35%;

  }
  main.main div.popular div.popularpro1 div.pic2.-on{
    /* border: 1px solid orange; */
    width: 35%;

  }
  main.main div.popular div.popularpro1 div.pic3.-on{
    /* border: 1px solid orange; */
    width: 35%;

  }
}
@media (min-width: 992px) and (max-width: 1199px){
  main.main div.popular div.popularpro1 div.pic1.-on{
    /* border: 1px solid orange; */
    width: 30%;

  }
  main.main div.popular div.popularpro1 div.pic2.-on{
    /* border: 1px solid orange; */
    width: 30%;

  }
  main.main div.popular div.popularpro1 div.pic3.-on{
    /* border: 1px solid orange; */
    width: 30%;

  }
}
@media (min-width: 768px) and (max-width: 991px){
  main.main div.popular div.popularpro1 div.pic1.-on{
    /* border: 1px solid orange; */
    width: 40%;

  }
  main.main div.popular div.popularpro1 div.pic2.-on{
    /* border: 1px solid orange; */
    width: 40%;

  }
  main.main div.popular div.popularpro1 div.pic3.-on{
    /* border: 1px solid orange; */
    width: 40%;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.popular div.popularpro1 div.pic1.-on{
    /* border: 1px solid orange; */
    width: 60%;

  }
  main.main div.popular div.popularpro1 div.pic2.-on{
    /* border: 1px solid orange; */
    width: 60%;

  }
  main.main div.popular div.popularpro1 div.pic3.-on{
    /* border: 1px solid orange; */
    width: 60%;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.popular div.popularpro1 div.pic1.-on{
    /* border: 1px solid orange; */
    width: 200%;

  }
  main.main div.popular div.popularpro1 div.pic2.-on{
    /* border: 1px solid orange; */
    width: 200%;

  }
  main.main div.popular div.popularpro1 div.pic3.-on{
    /* border: 1px solid orange; */
    width: 200%;
  }
}
main.main div.popular div.textall{
  width: 8  0%;
  margin: 0 auto;
}
main.main div.popular div.text1{
  /* border: 3px ridge #FB7F44; */
  padding-bottom: 20px;
  border-radius: 30px;
  width: 60%;
  height:100%;
  font-size: 20px;
  vertical-align: top;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
  display: none;
  opacity: 0.5;
  transition: opacity 1s;
  line-height: 40px;
}


main.main div.popular div.text1 p{
  font-size: 25px;
  color: #F37E22;
  font-weight:bolder;
  margin: 0;
}


main.main div.popular div.text2{
  /* border: 1px solid black; */
  width: 60%;
  height:100%;
  font-size: 20px;
  vertical-align: top;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
  display: none;
  opacity: 0.5;
  transition: opacity 1s;
  line-height: 40px;
}
main.main div.popular div.text2 p{
  font-size: 25px;
  color: #F37E22;
  font-weight:bolder;
  margin: 0;
}


main.main div.popular div.text3{
  /* border: 1px solid black; */
  width: 60%;
  height:100%;
  font-size: 20px;
  vertical-align: top;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
  display: none;
  opacity: 0.5;
  transition: opacity 1s;
  line-height: 40px;
}
main.main div.popular div.text3 p{
  font-size: 25px;
  color: #F37E22;
  font-weight:bolder;
  margin: 0;
}
main.main div.popular div.text1.-on{
  display: block;
  opacity: 1;
  transition: opacity 1s;
}
main.main div.popular div.text2.-on{
  display: block;
  opacity: 1;
  transition: opacity 1s;
}
main.main div.popular div.text3.-on{
  display: block;
  opacity: 1;
  transition: opacity 1s;
}

@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.popular div.text1{
    font-size: 12px;
  }
  main.main div.popular div.text2{
    font-size: 12px;
  }
  main.main div.popular div.text3{
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.popular div.text1{
    font-size: 15px;
  }
  main.main div.popular div.text2{
    font-size: 15px;
  }
  main.main div.popular div.text3{
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.popular div.text1{
    font-size: 18px;
  }
  main.main div.popular div.text2{
    font-size: 18px;
  }
  main.main div.popular div.text3{
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.popular div.text1 p{
    font-size: 16px;
  }
  main.main div.popular div.text2 p{
    font-size: 16px;
  }
  main.main div.popular div.text3 p{
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.popular div.text1 p{
    font-size: 18px;
  }
  main.main div.popular div.text2 p{
    font-size: 18px;
  }
  main.main div.popular div.text3 p{
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.popular div.text1 p{
    font-size: 22px;
  }
  main.main div.popular div.text2 p{
    font-size: 22px;
  }
  main.main div.popular div.text3 p{
    font-size: 22px;
  }
}




main.main div.title2{
  font-size: 30px;
  font-weight: bolder;
  color: #224FF3;
  margin-top: 200px;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.title2{
    font-size: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.title2{
    font-size: 26px;
    margin-top: 150px;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.title2{
    font-size: 22px;
    margin-top: 80px;
  }
}
main.main div.pro1{
  /* border: 1px solid blue; */
  width: 80%;
  margin: 0 auto;
  position: relative;
  right:100px;
}
@media (min-width: 992px) and (max-width: 1199px){
  main.main div.pro1{
    /* border: 1px solid blue; */
    width: 800px;
    position: relative;
    right:0;
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  main.main div.pro1{
    /* border: 1px solid blue; */
    width: 600px;
    position: relative;
    left:0px;
    margin-top: 50px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767.9px){
  main.main div.pro1{
    /* border: 1px solid blue; */
    position: relative;
    left:0px;
    margin-top: 50px;
    text-align: center;
  }
  main.main div.pro1 div.pro1pic{
    /* border: 1px solid red; */
    width: 100% !important;
    height:100% !important;
    display: block !important;
    position: relative;
  }
}
main.main div.pro1 div.pro1pic{
  /* border: 1px solid red; */
  width: 50%;
  height:100%;
  display: inline-block;
  position: relative;
}
@media (min-width: 1200px) and (max-width: 1399px){
  main.main div.pro1 div.pro1pic{
    margin-bottom: 100px;
  }
}
main.main div.pro1 div.pro1pic img{
  max-width: 80%;
}


main.main div.pro1 div.pro1text{
  /* border: 1px solid yellow; */
  width: 45%;
  height:100%;
  display: inline-block;
  vertical-align:top;
  margin-top: 30px;
}
main.main div.pro1 div.pro1text p:nth-child(2){
  text-align: left;
  line-height: 40px;
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.pro1 div.pro1text{
    margin-top: 15px;
  }
}
main.main div.pro1 div.pro1text p{
  font-size: 20px;
  font-weight: bolder;
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.pro1 div.pro1text p{
    font-size: 19px;
    font-weight: bolder;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.pro1 div.pro1text p{
    font-size: 16px;
    font-weight: bolder;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.pro1 div.pro1text p{
    font-size: 15px;
    font-weight: bolder;
  }
}


main.main div.pro1 div.pro1text p:first-child{
  color: #0E81D3;
}


main.main div.pro2{
  /* border: 1px solid blue; */
  width: 100%;
  position: relative;
  left:100px;
}
@media (min-width: 992px) and (max-width: 1199px){
  main.main div.pro2{
    /* border: 1px solid blue; */
    width: 800px;
    position: relative;
    left:0px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  main.main div.pro2{
    /* border: 1px solid blue; */
    width: 600px;
    position: relative;
    left:0px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
  }
}
@media (max-width: 767.9px){
  main.main div.pro2{
    /* border: 1px solid blue; */
    width: 80%;
    position: relative;
    left:0px;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767.9px){
  main.main div.pro2{
    /* border: 1px solid blue; */
    position: relative;
    left:0px;
    margin-top: 50px;
    text-align: center;
  }
  main.main div.pro2 div.pro2pic{
    /* border: 1px solid red; */
    width: 100% !important;
    height:100% !important;
    display: block;
    position: relative;
  }
}
main.main div.pro2 div.pro2pic{
  /* border: 1px solid red; */
  width: 50%;
  height:100%;
  display: inline-block;
  position: relative;
}
main.main div.pro2 div.pro2pic.-phone{
  display: none;
}
@media (min-width: 1200px) and (max-width: 1399px){
  main.main div.pro2 div.pro2pic{
    margin-bottom: 100px;
  }
}

main.main div.pro2 div.pro2pic img{
  max-width: 80%;

}
main.main div.pro2 div.pro2text{
  /* border: 1px solid yellow; */
  width: 45%;
  height:100%;
  display: inline-block;
  vertical-align:top;
  margin-top: 30px;
  margin-left: 0;
}
main.main div.pro2 div.pro2text p:nth-child(2){
  text-align: left;
  line-height: 40px;
}
main.main div.pro2 div.pro2text p{
  font-size: 20px;
  font-weight: bolder;
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.pro2 div.pro2text p{
    font-size: 19px;
    font-weight: bolder;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.pro2 div.pro2text p{
    font-size: 16px;
    font-weight: bolder;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.pro2 div.pro2text p{
    font-size: 15px;
    font-weight: bolder;
  }
}




main.main div.pro2 div.pro2text p:first-child{
  color: #0E81D3;
}
main.main div.content div.lasttext{
  /* border: 1px solid red; */
  margin: 20px 0;
}
main.main div.content div.lasttext p{
  font-size: 20px;
  font-weight: bolder;
  line-height: 40px;
  /* border: 1px solid green; */
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.content div.lasttext p{
    font-size: 19px;
    font-weight: bolder;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.content div.lasttext p{
    font-size: 16px;
    font-weight: bolder;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.content div.lasttext p{
    font-size: 15px;
    font-weight: bolder;
  }
}
main.main div.content div.lasttext p:first-child{
  color: #224FF3;
  font-size: 35px;
  writing-mode: vertical-lr;
  margin: 0 auto;
}
main.main div.content div.lasttext p:nth-child(2){
  text-align: left;
  line-height: 40px;
}
@media (min-width: 768px) and (max-width: 991.9px){
  main.main div.content div.lasttext p:first-child{
    font-size: 32px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px){
  main.main div.content div.lasttext p:first-child{
    font-size: 28px;
  }
}
@media (min-width: 320px) and (max-width: 575.9px){
  main.main div.content div.lasttext p:first-child{
    font-size: 25px;
  }
}
main.main div.content div.lasttext p:last-child{
  width: 50%;
  margin:30px auto;
}
